{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USM_S.I.N</title>
    <link rel="stylesheet" href="{% static 'USM_WEB/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'USM_WEB/css/style.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row vh-100">
          <div>
              <img class="" width="200px" src="{% static 'USM_WEB\img\Logo_USM\Direccion_Sede_Vina_del_Mar_chica.png' %}" alt="Logo de Universidad Tecnica Federico Santa Maria">
              <h1>Sistemas Integrado de Notificaciones</h1>
          </div>
      </div>
    </div>
  </body>
</html>