h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 10%;
}
#cabesal{
    background-color: #005E90;
}
.Logo_USM{
    width: 100%;
    align-items: center;
}
h5:hover{
    color: royalblue;
}
 