*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: rgb(23, 23, 23);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.borde{    
    border-bottom: 5px solid rgb(85, 85, 85);
    border-radius: 10px;
}
.Logo_USM{
    width: 50%;
    margin-top: 30px;
    margin-left: 10%;
    align-items: center;
}
header{
    background-color: #33333323;
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
